.Wrap {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Box {
  width: 400px;
  height: 560px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 14px;

  box-shadow: 3px 4px 10px var(--color-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.InputAppearBtn {
  background-color: transparent;
  border: none;

  position: absolute;
  bottom: -46px;
}

.NavBar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--color-bg);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.DarkModeBtn {
  background-color: transparent;
  border: none;
}

.TodoList {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  padding: 0 10px;
  box-sizing: border-box;

  overflow: scroll;
}

.TodoList::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 10px;
  overflow: hidden;
}

.TodoList::-webkit-scrollbar-track {
  width: 2px;
  background-color: var(--color-scrollbar-track);
}

.TodoList::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--color-scrollbar);
}
