.Wrap {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Box {
  width: 400px;
  height: 560px;
  background-color: var(--color-white);
  border-radius: 14px;

  box-shadow: 3px 4px 10px var(--color-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.NavBar {
  width: calc(100% - 40px);
  height: 60px;
  margin: 0 20px;
  border-bottom: 1px solid var(--color-bg);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.DarkModeBtn {
  background-color: transparent;
  border: none;
}

.FilterNav {
  display: flex;
  flex-direction: row;

  list-style: none;
}

.FilterList {
  margin-left: 10px;
}

.FilterBtn {
  background-color: transparent;
  border: none;
  color: var(--color-accent);
  font-weight: 500;

  transition: all 0.5s;

  cursor: pointer;
}

.FilterBtn:focus {
  border-bottom: 1px solid var(--color-accent-hover);

  color: var(--color-accent-hover);
}

/* .FilterBtn {
  background-color: transparent;
  border: none;

  color: var(--color-accent);
  font-weight: 500;
} */

.TodoList {
  width: calc(100% - 40px);
  height: 330px;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;

  overflow: scroll;
}

.TodoList::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 10px;
  overflow: hidden;
}

.TodoList::-webkit-scrollbar-track {
  width: 2px;
  background-color: var(--color-scrollbar-track);
}

.TodoList::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--color-scrollbar);
}

.Todo {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;

  border-radius: 6px;
  border: 1px solid var(--color-accent);
  box-shadow: 3px 3px 6px var(--color-bg);

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ContentWrap {
  width: 70%;
}

.StatsSwitchBtn {
  background-color: transparent;
  border: none;
}

.DeleteBtn {
  width: 26px;
  height: 26px;
  background-color: var(--color-accent);

  border: none;
  border-radius: 50px;

  box-shadow: 2px 2px 4px var(--color-shadow);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: all 0.8s;
}

.StatsSwitchBtn:hover,
.DeleteBtn:hover {
  cursor: pointer;
}

.DeleteBtn:hover {
  transform: rotate(2turn);
}

.InputWrap {
  width: 100%;
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-input-wrap-bg);

  border-radius: 0 0 14px 14px;

  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.InputTodo {
  width: calc(100% - 80px);
  height: 40px;
  padding: 10px;
  box-sizing: border-box;

  border: 1px solid var(--color-bg);
  border-radius: 4px;

  outline: none;

  color: var(--color-text);
}

.InputTodo::placeholder {
  color: var(--color-gray);
}

.SubmitBtn {
  width: 80px;
  height: 40px;
  background-color: var(--color-white);

  border: 1px solid var(--color-accent);
  border-radius: 4px;

  color: var(--color-accent);

  transition: all 0.8s;
}

.SubmitBtn:hover {
  background-color: var(--color-accent);
  color: var(--color-white);

  cursor: pointer;
}

.InputAppearBtn {
  background-color: transparent;
  border: none;

  position: absolute;
  bottom: -46px;

  cursor: pointer;
}

.Detail {
  width: 100%;
  height: 330px;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
}

.DetailContent {
  list-style: none;

  width: 100%;

  margin: 0;
  padding: 0;
}
