:root {
  --color-bg: #e2e2eb;
  --color-white: #ffffff;
  --color-text: #2e2f30;
  --color-gray: #8f9194;
  --color-sub-text: #ced1d5;
  --color-accent: #35b380;
  --color-scrollbar: #b0b0b6;
  --color-scrollbar-track: #e2e2eb;
  --color-shadow: #b7b7b9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
